@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
  font-family: 'Amiri', serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  direction: rtl;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(18, 16, 16);
}

.icon {
  margin: 20px;
  margin-left: 5px;
  justify-content: space-between;
  text-align: right;
  color: azure;
  padding: 10px;
  margin-right: 70%;
}

.icon span {
  margin-left: 5 E px;
}

.btn {
  text-align: left;
  padding: 15px;
}

.btn a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(4, 67, 169);
  border-radius: 5px;
  padding: 10px 40px;
  transition: 0.7s ease;
}

.btn a:hover {
  transform: scale(1.1);
  background-color: rgb(17, 82, 188);
}

.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 6px auto;
}

.logo {}

.logo h1 {
  margin-left: 200px;
  color: rgb(17, 82, 188);
  font-size: 30px;
}

.logo h1 span {
  font-size: 50px;
  color: rgb(4, 62, 137);
}

.header-1 ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
  margin: 0 5px;
}

.header-1 ul li a {
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  margin-right: 15px;
  color: black;
  transition: 0.7s ease;
}

.header-1 ul li a:hover {
  color: #fff;
  background-color: rgb(3, 74, 181);
  border-radius: 5px;
  padding: 5px;
  transform: scale(1.1);
}

.main {
  display: grid;
  background: url(img/خلفيه\ 2.svg) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main h1 {
  text-align: center;
  padding: 15px;
  margin: 15px;
  position: relative;
  top: 45%;
  font-size: 45px;
  color: #f5f6f8;
  letter-spacing: 2px;
}

.main p {
  text-align: center;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  bottom: 5%;
}

.main a {
  text-decoration: none;
  text-align: center;
  color: #d6efe5;
  font-weight: 550;
  font-size: 15px;
  transition: 0.7s ease;
  width: 150px;
  margin-right: 42%;
  background: linear-gradient(45deg, #00C853, #4A90E2);
  padding: 5px;
  border-radius: 5px;
}

.main a:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #0eda63, #5e9be0);
  padding: 5px;
  border-radius: 5px;
  color: #f5f6f8;
}

.contant {
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 15px;
}

.contant .title {
  text-align: center;
  position: relative;
  top: 200%;
  font-size: 25px;
  color: #002B5B;
}

.contant .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 6px auto;
  position: relative;
  top: 50px;
}

.contant .cards .card {
  text-align: center;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: 80px;
  border-radius: 8px;
  transition: 0.7s ease;
  margin: 25px;
}

.contant .cards .card:hover {
  transform: scale(1.1);
}

.card img {
  width: 80px;
  height: 80px;
  padding: 15px;
  margin-top: -32%;
  background-color: none;
}

.card .info {
  padding: 10px;
  text-align: center;
}

.info h2 {
  padding-bottom: 10px;
  color: #094993;
  font-weight: 700;
}

.info p {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.card .btn a {
  text-decoration: none;
  background-color: #f39b16;
  margin-left: 20px;
  color: #f7fcf9;
}

.intro {
  display: flex;
  justify-content: space-between;
  background-color: #031231;
  border: 4px solid rgb(16, 243, 103);
  border-radius: 5px;
}

.intro .info-intro {
  padding: 15px;
  margin: 10px;
  margin-top: 15%;
}

.intro .info-intro h1 {
  color: #fff;
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  position: relative;
  right: 50px;
  bottom: 30px;
}

.intro .info-intro .pragrafh {
  color: #fff;
  padding: 18px;
  margin: 10px;
}

.intro .info-intro .pragrafh .pra {
  padding: 20px;
  border: 2px solid rgb(16, 243, 103);
  border-radius: 10px;
  margin-bottom: 20px;
}

.intro .info-intro .pragrafh .pra1 {
  padding: 20px;
  border: 2px solid rgb(16, 243, 103);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.intro .info-intro .pragrafh .pra2 {
  padding: 20px;
  border: 2px solid rgb(16, 243, 103);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.intro .image1 {
  padding: 15px;
  margin: 10px;
}

.intro img {
  width: 500px;
  height: 500px;
  position: relative;
  top: 30%;
  border-radius: 50%;
  box-shadow: 5 5 5 25px rgb(154, 151, 151);
  transition: 0.7s ease;
}

.intro img:hover {
  transform: scale(1.1);
}

.footer {
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 54, 54);
}

.footer .title1 {
  text-align: center;
  padding: 20px;
  position: relative;
  top: 50px;
}

.footer .title1 h1 {
  padding: 10px;
  margin-bottom: 5px;
  color: #7bb98d;
  font-size: 40px;
  border: 2px solid orange;
  width: 600px;
  position: relative;
  right: 30%;
  bottom: 30px;
  border-radius: 10px;
}

.footer .title1 p {
  color: #39d078;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.links ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 80px 0;
  position: relative;
  right: 30%;
}

.links ul li a {
  text-decoration: none;
  color: #f5f6f8;
  margin-right: 40px;
  transition: 0.7s ease;
}

.links ul li a:hover {
  transform: scale(1.1);
  background-color: #f39b16;
  padding: 10px;
  border-radius: 5px;
}

.cards1 {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 6px auto;
}

.cards1 .card1 {
  padding: 15px;
  margin: 20px;
  text-align: center;
  margin: 5px;

}

.card1 img {
  width: 200px;
  width: 200px;
  border-radius: 20px;
  border: 2px solid orange;
  margin-bottom: 10px;
  margin: 30px;
  transition: 0.9s ease;
}

.card1 img:hover {
  transform: scale(1.1);
}

.card1 h3 {
  color: #d5d8da;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.footer2 {
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 54, 54);
  position: relative;
  margin-top: -20px;
}

.cards2 {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 6px auto;
}

.tamem {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.header-gpt {
  display: flex;
  justify-content: space-between;
}

.header-gpt .link-gpt ul {
  padding: 30px;
  margin: 6px auto;
  margin-right: 50px;
}

.header-gpt .link-gpt ul li {
  display: inline-block;
  list-style: none;
}

.header-gpt .link-gpt ul li a {
  text-decoration: none;
  color: #0a0b0b;
  margin-right: 30px;
  transition: 0.7s ease;
  font-size: 20px;
  font-weight: 600;
}

.header-gpt .link-gpt ul li a:hover {
  transform: scale(1.1);
  background-color: #025381;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
  font-size: 20px;
}

.logo {
  padding: 20px;
  margin: 5px;
}

.logo h1 {
  color: #39d078;
  font-size: 40px;
}

.main-gpt {
  width: 100%;
  min-height: 100vh;
  background: url(img/خلفيه\ شات\ جيبيتي.svg);
  background-size: cover;
}

.main-gpt .title-gpt {
  padding: 50px;
  position: relative;
  top: 100px;
}

.main-gpt .title-gpt h1 {
  font-size: 60px;
  margin-right: 40px;
  color: #fff;
  margin: 0px;
}

.info-gpt {
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info-gpt .intro-gpt {
  padding: 20px;
  margin-top: 300px;
  border: 2px solid rgb(9, 222, 84);
  border-radius: 30px;
}

.info-gpt .intro-gpt h3 {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 30px;
}

.info-gpt .intro-gpt p {
  color: #d6efe5;
  letter-spacing: 1px;
}

.info-gpt .good {
  padding: 40px;
  margin-left: 80px;
  margin-top: 180px;
  border: 2px solid rgb(9, 222, 84);
  border-radius: 30px;
}

.info-gpt .good h3 {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 30px;
  margin-bottom: 5px;
}

.info-gpt .good p {
  color: #d6efe5;
  letter-spacing: 1px;
}

.contant-gpt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background: url(img/GPT\ 2.svg);
  background-size: cover;
}

.contant-gpt .uses h1 {
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-top: 350px;
  margin-right: 50px;
  font-size: 70px;
  color: #fff;
}

.contant-gpt .cards-gpt {
  display: grid;
}

.contant-gpt .cards-gpt .card-gpt {
  text-align: center;
  padding: 15px;
  margin-left: 200px;
  margin-top: 40px;
  border: 2px solid rgba(18, 241, 96, 0.286);
  height: 12em;
  border-radius: 30px;
  margin: 10px;
  position: relative;
  left: 40px;
  top: 5px;
  transition: 0.7s ease;
}

.contant-gpt .cards-gpt .card-gpt:hover {
  transform: scale(1.1);
  border: 2px solid rgb(29, 249, 106);
}

.icon {
  color: #00b5bf;
  font-size: 35px;
  position: relative;
  left: 25%;
  bottom: 20%;
}

.info-gpt1 {
  position: relative;
  bottom: 30px;
}

.info-gpt1 h3 {
  color: #fff;
  font-size: 30px;
  position: relative;
  bottom: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.info-gpt1 p {
  color: #d6efe5;
  position: relative;
  bottom: 20px;
}

.footer-gpt {
  width: 100%;
  min-height: 100vh;
  background: url(img/خلفية\ الاحصائية.svg);
  background-size: cover;
}

.cards1-gpt {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.cards1-gpt .card1-gpt {
  position: relative;
  top: 500px;
  background-color: #f5f6f8;
  width: 20em;
  height: 10em;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 10px 0 15px rgba(229, 135, 3, 0.47);
  margin: 10px;
  transition: 0.7s ease;
  border: 2px solid rgb(0, 24, 110);
}

.cards1-gpt .card1-gpt:hover {
  transform: scale(1.1);
  margin: 10px;
}

.card1-gpt .title1-gpt h1 {
  text-align: center;
  padding: 5px;
  font-size: 40px;
  color: #001e70;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

.card1-gpt .pra-gpt {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.card1-gpt .pra-gpt h3 {
  margin-bottom: 5px;
  font-size: 25px;
  color: #030303;
  font-weight: 700;
}

.card1-gpt .pra-gpt p {
  color: #001e70;
  padding: 2px;
  letter-spacing: 1px;
}

.main-dall {
  width: 100%;
  min-height: 100vh;
  background: url(img/خلفية\ dall.svg);
  background-size: cover;
}

.contant-dall {
  width: 100%;
  min-height: 100vh;
  background: url(img/مقدمة\ dall.svg);
  background-size: cover;
}

.intro-dall {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 6px auto;
  position: relative;
  top: 150px;
}

.intro-dall h1 {
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 40px;
  color: #fff;
  font-size: 100px;
}

.intro-dall p {
  text-align: center;
  color: #d5d8da;
  margin: 5px;
  font-weight: 500px;
  font-size: 20px;
  letter-spacing: 2px;
}

.intro-dall a {
  text-decoration: none;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  color: #f7fcf9;
  font-size: 30px;
  background-color: #5e9be0;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  margin-right: 42%;
  transition: 0.7s ease;
}

.intro-dall a:hover {
  transform: scale(1.1);
  background-color: #0d55a7;
}

.main2-dall {
  width: 100%;
  min-height: 100vh;
  background: url(img/مقدمة\ dall.svg);
  background-size: cover;
  align-items: center;
  display: grid;
  justify-content: center;
  font-family: 'Amiri', serif;
}

.title-dall {
  text-align: center;
  padding: 20px;
}

.title-dall h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.title-dall h2 {
  position: relative;
  bottom: 20px;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 1px;
}

.title-dall p {
  margin: 5px;
  color: #d6efe5;
  letter-spacing: 1px;
}

.cards-dall {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 6px auto;
}

.card-dall {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18em;
  height: 22em;
  padding: 10px;
  margin: 15px;
  transition: 0.7s ease;
}

.card-dall:hover {
  transform: scale(1.1);
}

.card-dall .image-dall img {
  border-radius: 80px;
  width: 200px;
  height: 200px;
  padding: 5px;
}

.card-dall .info-dall {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.card-dall .info-dall h3 {
  color: #f2f8f6;
  font-size: 20px;
  padding: 10px;
}

.card-dall .info-dall p {
  padding: 5px;
  color: #cbf2ea;
  font-weight: 600;
}

.footer-dall {
  width: 100%;
  height: 100vh;
  background: url(img/footer-dall.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0px 400px;
}

.img-dall {
  padding: 20px;
  margin-top: 130px;
  margin-left: 80px;
}

.img-dall img {
  width: 400px;
  height: 500px;
  background-color: #001e70;
  border-radius: 20%;
  border: 2px solid #4A90E2;
  transition: 0.7s ease;
}

.img-dall img:hover {
  transform: scale(1.1);
  border: 4px solid #c72f09;
}

.footer-dall .good-dall {
  padding: 30px;
  margin: 10px;
  margin-top: 100px;
}

.footer-dall .good-dall h1 {
  color: #ffffff;
  padding: 20px;
  margin: 6px;
  font-size: 100px;
  margin-bottom: 20px;
  transition: 0.7s ease;
  margin-right: 10px;
}

.footer-dall .good-dall h1:hover {
  transform: scale(1.1);
  border: 3px solid slateblue;
  border-radius: 10px;
}

.pra-dall {
  padding: 20px;
  margin: 5px;
}

.pra-dall p {
  color: #f2f8f6;
  font-size: 20px;
  margin: 25px;
  font-weight: 700;
  transition: 0.2s ease;
}

.pra-dall p:hover {
  transform: scale(1.1);
  border: 2px solid wheat;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.footer2-dall{
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 6px;
}

.footer2-dall h1{
  text-align: center;
  padding: 20px;
  margin: 6px auto;
  font-size: 40px;
  letter-spacing: 1px;
}
.cards-footer2{
  align-items: center;
  display: grid;
  justify-content: center;
  margin-top: 150px;
}
.cards-footer2 .card-footer2{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: #00b5bf1d;
  border-radius: 20px;
  padding: 25px;
  width: 600px;
}
.cards-footer2 .card-footer2 .info-footer2{
  padding: 10px;
  margin: 5px;
}
.info-footer2 h2{
  padding: 5px;
font-size: 30px;
}
.info-footer2 p{
  margin: 5px;
  margin-top: 10px;
}
.icon-footer2{
  font-size: 4em;
  margin-right: 5px;
  color: #014670;
}
.main-cop{
  background-color: #0D1D25;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.title-cop{
  padding: 20px;
  margin: auto;
  justify-content: center;
}
.title-cop h1{
  color: #d64a0e;
  font-size: 6rem;
 margin-bottom: 15px;
 letter-spacing: 1px;
 padding: 5px 0;
}
.title-cop h2{
  font-size: 3rem;
  color: #c6c6d0;
  font-weight: 700;
}
.main-cop img{
  width: 500px;
  height: 500px;
  background-color: #cd882d;
  border-radius: 50%;
  margin-left: 70px;
}
.what-cop{
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}
.title-what{
  text-align: center;
  padding: 10px;
  margin: 6px;
}
.title-what h1{
  padding: 10px;
  margin: 5px 0;
  font-size: 2.7rem;
  color: #104c64;
  margin-bottom: 10px;
}
.title-what h1 span{
  color: #c0754d;
}
.title-what p{
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: 0.7s ease;
  text-align: center;
}
hr{
  width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-right: 25%;
  font-weight: 5000;
  border: 3px solid seagreen;
  border-radius: 30px;
}
.container{
  background-color: #05161A;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container h1{
  text-align: center;
  color: #6da5c0;
  padding: 5px 0;
  font-size: 3.5rem;
  padding: 10px;
  position: relative;
  top: 70px;
}

.cards-cop{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
   margin: 6px auto;
   margin-top: 200px;
}
.card-cop{
  text-align: center;
  background-color: #072e33;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(71, 71, 71, 0.1);
  width: 30%;
  margin: 10px;
  transition: 0.7s ease;
}
.card-cop:hover{
  transform: scale(1.1);
  margin: 10px;
}
.card-cop img{
  width: 90px;
  height: 90px;
  position: relative;
  bottom: 20px;
  transition: 0.7s ease;
}
.card-cop img:hover{
  transform: scale(1.25);
  width: 120px;
  height: 120px;
}
.info-cop{
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 50px;
}
.info-cop h3{
  color: #cdd3d5;
  font-size: 1.7rem;
  padding: 5px;
  margin-bottom: 5px;
}
.info-cop p{
  font-weight: 700;
  padding: 5px;
  color: #07d2dc;
}
.info-cop p span{
  color: #f2f3f4;
}
.benefits {
  margin-top: 40px;
  background-color: #b0afaf;
  padding: 20px;
  border-radius: 8px;
}
.benefits h2{
  padding: 20px;
}

.benefits ul {
  list-style-type: none;
  padding-left: 0;
}

.benefits li {
  margin: 10px 0;
  font-size: 18px;
  transition: 0.7s ease;
}

.benefits li::before {
  content: "✔";
  margin-left: 10px;
  color: green;
}
.benefits li:hover{
  transform: scale(1.1);
  border: 2px solid rgb(1, 95, 104);
  width: 30%;
  padding: 5px;
}
.footer-cop{
  background: url(img/خاتمه\ كوبايلوت.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
}
.title-footer{
  color: #c6c6d0;
  padding: 40px 90px;
  position: relative;
  top: 170px;
}
.title-footer h1{
  font-size: 2rem;
  margin-bottom: 5px;
  color: #00b5bf;
}
.title-footer h2{
  font-size:1.7rem ;
  letter-spacing: 1px;
  color: #05b4bd;
  margin-bottom: 10px;
}
.pra-cop p{
  margin: 20px;
 font-size: 1.1rem;
}
.pra-cop p span{
  color: #e06818;
  font-weight: 800;
  font-size: 1.4;
}

.header-tamem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 5px auto;
}
.logo-tamem img{
  width: 100px;
  height: 100px;
  background-color: rgb(19, 19, 19);
  border-radius: 50%;
}
nav a{
  padding: 5px;
  margin: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #616363;
}
nav a:hover{
  color: #0775d6;
}
.menu{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
}
.icon-menu{
  padding: 5px;
  position: relative;
  left: 30px;
  font-size: 1.3rem;
}
.sgin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.sgin h3{
  margin-left: 40px;
  background-color: #0872ce;
  color: #e3e5e8;
  padding:10px;
  border-radius: 5px;
  font-size: 1rem;
}
.sgin h3:hover{
  background-color:#2387df ;
}
.sgin h2{
  color: #0966c8;
  font-size: 1.1rem;
  background: transparent;
  border: 2px solid rgb(51, 129, 231);
  padding: 5px 10px;
  border-radius: 5px;
}
.hero{
  padding: 40px;
  margin: 5px auto;
  align-items: center;
  display: grid;
  justify-content: space-around;
  position: relative;
  top: 10px;
  background-color: #2d4354;
}
.hero h1{
  padding: 30px;
  text-align: center;
font-size: 3rem;
font-style: italic;
color: #e5e5e4;
}
.btn-hero{
  padding: 20px ;
  text-align: center;
  margin: 5px auto;
  position: relative;
  top: 30px;
}
.btn-hero a{
  text-decoration: none;
  margin:0 150px;
  background-color: #73766a;
  padding: 10px 30px;
  border-radius: 5px;
  color: #f7fcf9;
  transition: 0.7s ease;
}
.btn-hero a:hover{
  transform: scale(1.1);
  font-size: 1.1rem;
}
.main-temem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: 6px auto;
  background-color: #d5d8da;
}
.rhigt{
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 50px;
  padding: 40px;
  top: 40px;
}
.rhigt h1{
  color: #0359c9;
  font-size: 5rem;
}
.rhigt h2{
  font-size: 3.4rem;
  color: #0359c9;
  letter-spacing: 1px;
  margin-bottom: 15px;

}
.rhigt p{
 font-size: 1.2rem;
 font-weight: 500;
 color: #030303;
}
.btn-rhigt{
  padding: 20px;
  justify-content: space-between;
  margin: 10px;
 position: relative;
 left: 50px;
}

 button{
  font-weight: 600px;
  border: none;
  padding: 10px 50px;
  margin: 0 50px;
  background-color: #894311;
  color: aliceblue;
  border-radius: 10px;
}
.btn-rhigt a{
  text-decoration: none;
  color: #fbfafa;
  background-color: #044b86;
  padding: 10px 50px;
  border-radius: 10px;
  transition: 0.7s ease;
}
.btn-rhigt a:hover{
  transform: scale(1.1);
  background: transparent;
  border: 2px solid #044b86 ;
  padding: 10px 50px;
  color: #030303;
}
.left img{
  width: 600px;
  height: 400px;
  border-radius: 10%;
}
.learnig{
  padding: 20px;
  width: 80%;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
 box-shadow: 2px 2px 5px 10px rgb(193, 194, 194);

}
nav{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
nav h4{
  margin-left: 20px;
  font-size: 1.2rem;
  background-color: #73766a;
  color: #f2f3f4;
  border-radius: 5px;
  padding: 5px 15px ;
  width: 500px;

  
}
nav a img{
  width: 100px;
  height: 80px;
  transition: 0.7s ease;
}
nav a img:hover{
  transform: scale(1.1);
}
.courses{
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.courses h1{
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 1.7rem;
  font-weight: 700px;
}
.cards-cours{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 6px auto;
}
.card-cours{
  text-align: center;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  padding: 10px;
  height: 400px;
  margin-top: 50px;
  width: 600px;
  border-radius: 10px;
  margin: 10px;
}
.img-cours img{
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
}
.info-cours{
  padding: 10px;
  text-align: center;
}
.info-cours h2{
  padding: 5px;
  color: #065697;
}
.info-cours p{
  font-weight: 400;
}
.btn-card {
  position: relative;
  top: 40px;
}
.btn-card a{
  text-decoration: none;
  color: #d5d8da;
  background-color: #0359c9;
  padding: 10px;
  font-weight: 500;
 border-radius: 5px;
 transition: 0.7s ease;
}
.btn-card a:hover{
  transform: scale(1.1);
  background-color: #1e75e7;
}
.learnig-2{
  background: url(img/learnig.png);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;

}
.title-learnig{
  padding: 20px;
  margin: 5px;
}
.title-learnig h1{
  padding: 5px;
  font-size: 2rem;
  color: #030303;
}
.title-learnig p{
  padding: 5px;
  font-weight: 400;
}
.cards-learnig{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 10px auto;
}
.card-learnig{
  text-align: center;
  padding: 20px;
  background-color: #f5f6f8;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s ease;
}
.card-learnig:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img-learnig img{
  width: 400px;
  height: 200px;
  border: 2px solid rgb(196, 194, 194);
  border-radius: 10px;
}
.info-learnig h3{
  color: #067ac8;
 font-size: 20px;
 padding: 10px;
}
.pra-learnig{
  display: flex;
  margin: 10px;
  text-align: center;
  position: relative;
  right: 200px;
}
.pra-learnig h5{
  margin: 5px;
  margin-left: 10px;
  text-decoration: line-through;
  font-size: 15px;
}
.pra-learnig h4{
  font-size: 20px;
  color: #f13607;
}
.courses-2{
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title-cours2{
  padding: 20px;
  margin: 6px auto;
}
.title-cours2 h2{
  color: #0775d6;
  letter-spacing: 1px;
  margin-bottom:5px;
}
.title-cours2 h1{
  font-size: 30px;
  padding: 5px 0;
}
.title-cours2 p{
  color: #302f2f;
}
.cards-cours2{
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-cours2{
  padding: 20px;
  margin: 10px;
  transition: 0.5s ease;
}
.card-cours2:hover{
  transform: scale(1.1);
}
.img-cours2 img{
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
.info-cours2 p{
  padding: 5px;
  font-weight: 300;
  font-size: 12px;
}
.info-cours2 a{
  text-decoration: none;
  background-color: #0364ae;
  color: #fff;
  padding: 5px 20px;
  position: relative;
  top: 20px;
  right: 10px;
  border-radius: 5px;
}
.btn-cours2{
  position: relative;
  top: 5px;
}
.button-cor{
  background-color: #0359c9;
  font-weight: 500;
}
.btn-cours2 a{
  text-decoration: none;
  font-size: 15px;
  color: #030303;
background: transparent;
border: 2px solid cornflowerblue;
border-radius: 5px;
padding: 10px 40px;
transition: 0.7s ease;
}
.btn-cours2 a:hover{
  transform: scale(1.1);
  background-color: #0359c9;
  color: #fff;
}
.opinion{
 background: url(img/المتدربين.svg);
 background-size: cover;
 background-position: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}
.title-opi h1{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px auto;
 position: relative;
 top: 20px;
 font-size: 40px;
 color: #000000;
}
.cards-opi{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 6px auto;
  position: relative;
  top: 40px;
}
.card-opi{
  text-align: center;
  padding: 10px;
  margin: 15px;
}
.img-ipi img{
  width: 400px;
  max-height: 300px;
  border-radius: 5px;
}
.info-opi h3{
  padding: 10px;
  font-size: 1.4rem;
  color: #0359c9;
  margin-bottom: 5px;
}
.info-opi p{
  font-size: 0.9;
  text-align: center;
}
.rating{
  margin-top: 10px;
}
.rating span{
  color: #030303;
}
.main-ge{
  background: url(img/gemini\ back.svg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.main-ge h1{
  padding: 20px;
  margin: 6px auto;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  color: #7576bb;
  margin-right: 280px;
  position: relative;
  top: 150px;
}
.main-ge h1 span{
  font-size: 8rem;
}
.intro-ge{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.title-intro{
  padding: 10px;
  margin: 5px;
}
.title-intro h1{
  font-size: 45px;
  padding: 20px;
  color:#FF5252;
  font-weight: 700;
  text-align: right;
}
.title-intro h1 span{
  font-size: 50;
  margin-left: 5px;
  color: #3F51B5;
}
.title-intro p{
  color: #333333;
  margin: 5px;
}
.title-intro p span{
  color: #02a541;
}
.btn-intro{
  margin: 5px;
  padding: 10px;
  margin-right: 40px;
  margin-top: 30px;
}
.btn-intro a{
  text-decoration: none;
  color:#fff;
  background-color: #1976D2;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.7s ease;
}
.btn-intro a:hover{
  transform: scale(1.1);
  background-color: #64B5F6;
}
.img-ge img{
  width: 400px;
  height: 600px;
  margin-left: 40px;
 background-color: #00C853;
 border-radius: 800px;
 transition: 0.7s ease;
}
.use{
  align-items: center;
  justify-content: center;
  display: grid;
  padding: 10px;
  margin: 5px auto;
}
.use h1{
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
  position: relative;
  top: 10px;
  padding: 5px;
}
.cards-use{
  display: grid;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 50px;
}

.cards1-use{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-use{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  transition: 0.7s ease;
}
.card-use:hover{
  transform: scale(1.1);
}
.img-use{
  padding: 5px;
  margin: 5px;
}
.img-use img{
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
.icon-use{
  font-size: 2em;
  padding: 3px;
  text-align: right;
  margin-right: 80px;
}
.info-use h3{
  padding: 5px;
  color: #0356af;
  font-size: 20px;
  font-weight: 700;
text-align: right;
margin-right: 80px;
}
.info-use p{
  font-weight: 400;
  text-align: right;
  margin-right: 80px;
}

.btn-use{
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
  top: 40px;
}
.btn-use a{
  text-decoration: none;
  background-color: #a32baa;
  color: #fff;
  padding: 5px 35px;
  border-radius: 5px;
  transition: 0.7s ease;
}
.btn-use a:hover{
  transform: scale(1.2);
  background-color: #d953e0;
}
.static{
  background: url(img/احصائيات\ جيميناي.svg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 100px;
}
.st1{
  position: relative;
  margin-right: 30%;
  top: 15%;

}
.st1 h3{
  padding: 5px;
  color: #fff;
  position: relative;
  left: 10px;
}
.st1 h3 span{
  color: #03be32;
  font-size: 25px;
}

.st1 p{
  color: #cdd3d5;
  letter-spacing: 1px;
  position: relative;
  left: 15px;
}
.st1 p span{
  color: #12d008;
  font-weight: 600;
}
.st2{
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 55%;
  position: relative;
  top: 25px;
}
.st2 h3{
  padding: 5px;
  color: #fff;
  position: relative;
  left: 10px;
}
.st2 h3 span{
  color: #03be32;
  font-size: 25px;
}
.st2 p{
  color: #cdd3d5;
  letter-spacing: 1px;
  position: relative;
  left: 15px;
}
.st2 p span{
  color: #12d008;
  font-weight: 600;
}
.st3{
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  top: 40%;
  margin-right: 30%;
}
.st3 h3{
  padding: 5px;
  color: #fff;
  position: relative;
  left: 10px;
}
.st3 h3 span{
  color: #03be32;
  font-size: 25px;
}
.st3 p{
  color: #cdd3d5;
  letter-spacing: 1px;
  position: relative;
  left: 15px;
}
.st3 p span{
  color: #12d008;
  font-weight: 600;
}
.st4{
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
 margin-right: 57%;
 top: 28%;
}
.st4 h3{
  padding: 5px;
  color: #fff;
  position: relative;
  left: 10px;
}
.st4 h3 span{
  color: #03be32;
  font-size: 25px;
}
.st4 p{
  color: #cdd3d5;
  letter-spacing: 1px;
  position: relative;
  left: 15px;
}
.st4 p span{
  color: #12d008;
  font-weight: 600;
}
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.footer-links a:hover {
  color: #00bcd4; /* لون عند المرور */
}

.footer-social a {
  margin: 0 5px;
}

.footer-social img {
  width: 20px;
  height: 20px;
}

.footer-copyright {
  margin-top: 10px;
  font-size: 12px;
  color: #bbb;
}